.form-container{
    display: flex;
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    max-height: 44rem;
}

.form-buttons{
    display: flex;
    justify-content: end;
    gap:2rem;
    margin-top: 3rem;
}

.checkbox-position{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 3rem;
}
