<div class="flex flex-column">
<div class="modal-buttons">
    <button (click)="openSuccessModal()" class="btn btn-primary">
        Clicca qui per vedere la modale di successo
    </button>
    <button (click)="openWarningModal()" class="btn btn-primary">
        Clicca qui per vedere la modale di avviso
    </button>
</div>
<div class="modal-buttons mt-4">
    <button (click)="openSuccessModal()" class="btn btn-primary">
        Clicca qui per vedere la modale interattiva
    </button>
    <button (click)="openWarningModal()" class="btn btn-primary">
        Clicca qui per vedere la modale interattiva
    </button>
</div>
</div>
