<div class="wave"> 
    <div class="container">
        <div class="d-flex justify-content-end">
            <app-notification></app-notification>
        </div>
       <h2 class="flex justify-center align-item-center mt-2">Benvenuti nella demo di MLPS!</h2>
        <div class="home-buttons">
            <button (click)="goToDemo()" class="btn btn-primary"> Clicca qui per iniziare</button>
            <app-loader></app-loader>
        </div>         
    </div>
</div> 
<div class="modal-buttons">
</div>
<div class="carousel-wrapper">
<app-carousel></app-carousel> 
</div>
