<div class="p-body">
    <form [formGroup]="formInput">
        <input
          type="text"
          id="inputText"
          formControlName="inputText"
          class="form-control"
          placeholder="Inserisci un numero"
          />
    </form>
</div>
<div class="p-dialog-footer d-flex justify-content-between p-0 mt-4">
    <button class="btn btn-outline-primary text-uppercase" (click)="closeModal()">
        Chiudi
    </button>
    <button class="btn btn-primary text-uppercase" (click)="showNumber()">
        Visualizza numero
    </button>
</div>

